body {
  background-color: #222;
  color: #fff;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.form-container {
  width: 100%;
  max-width: 600px;
  background-color: #333;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-group label {
  margin-right: 10px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.delete-button {
  margin-left: 10px;
}
.thumbnails-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
}

.thumbnail-item {
  text-align: center;
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.gold {
  background-color: #B59410 !important;
}

.silver {
  background-color: silver !important;
}

.copper {
  background-color: #b87333 !important;
}

.maroon {
  background-color: maroon !important;
}

.thumbnail-item img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 8px;
}

.thumbnail-item h4 {
  margin-bottom: 5px;
}

.thumbnail-item p {
  margin-bottom: 3px;
}

.countdown {
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .form-container {
    padding: 10px;
  }

  .input-group {
    flex-direction: column;
    align-items: flex-start;
  }

  .input-group label {
    margin-bottom: 5px;
  }

  .button-group {
    flex-direction: column;
    align-items: center;
  }
}